@use '../abstracts/' as *;

.landing__logos {
    padding-top: 13rem;
    background-color: var(--clr-white);

    @media (min-width: $desktop) {
        padding: 16rem 15rem 0 16.5rem;
        display: grid;
        grid-template-columns: 15% 13% 14% 12.5% 11%;
        align-items: center;
        gap: 9.5rem;
    }
}

.logo--google,
.logo--IBM,
.logo--microsoft,
.logo--HP,
.logo--vector {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $desktop) {
        margin-left: 0;
        margin-right: 0;
    }
}

.logo--google {
    width: 39%;
    max-width: 20rem;
}

.logo--IBM {
    margin-top: 6.3rem;
    width: 32%;
    max-width: 18rem;
}

.logo--microsoft {
    margin-top: 7rem;
    width: 35%;
    max-width: 19rem;
}

.logo--HP {
    margin-top: 6.2rem;
    width: 31%;
    max-width: 18rem;
}

.logo--vector {
    margin-top: 5.6rem;
    width: 28%;
    max-width: 17rem;
    }

.logo--google,
.logo--IBM,
.logo--microsoft,
.logo--HP,
.logo--vector {
    @media (min-width: $desktop) {
        margin-top: 0;
        width: 100%;
    }
}