:root {  
    // font families
    --ff: 'Bai Jamjuree', sans-serif;

    // font sizes
    --fs-normal-mobile: 1.6rem;
    --fs-small-mobile: 1.2rem;
    --fs-h1-mobile: 3.1rem;
    --fs-h2-mobile: 2rem;
    --fs-h3-mobile: 1.5rem;
    --fs-button-mobile: 1.8rem;

    --fs-normal-desktop: 2.05rem;
    --fs-small-desktop: 1.8rem;
    --fs-h1-desktop: 4.45rem;
    --fs-h2-desktop: 3rem;
    --fs-h3-desktop: 2rem;
    --fs-button-desktop: 1.75rem;

    // font weights
    --fw-regular: 400;
    --fw-semiBold: 600;
}  